:root {
    --background: #f2f2f2;
    --primary: #f84209;
    --primaryHover: #f66538;
    --offPrimary: #ffd0c1;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
    background: var(--background);
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}
